NET "DDR3_A0" LOC = "N2";
NET "DDR3_A10" LOC = "F5";
NET "DDR3_A11" LOC = "G4";
NET "DDR3_A12" LOC = "E4";
NET "DDR3_A13" LOC = "D4";
NET "DDR3_A14" LOC = "F4";
NET "DDR3_A1" LOC = "K2";
NET "DDR3_A2" LOC = "M3";
NET "DDR3_A3" LOC = "K3";
NET "DDR3_A4" LOC = "M4";
NET "DDR3_A5" LOC = "L1";
NET "DDR3_A6" LOC = "L4";
NET "DDR3_A7" LOC = "K4";
NET "DDR3_A8" LOC = "K1";
NET "DDR3_A9" LOC = "J4";
NET "DDR3_BA0" LOC = "L5";
NET "DDR3_BA1" LOC = "R4";
NET "DDR3_BA2" LOC = "J5";
NET "DDR3_CAS#" LOC = "P5";
NET "DDR3_CKE" LOC = "N3";
NET "DDR3_CK0_N" LOC = "M2";
NET "DDR3_CK0_P" LOC = "L2";
NET "DDR3_CS#" LOC = "N1";
NET "DDR3_DM0" LOC = "A1";
NET "DDR3_DM1" LOC = "F1";
NET "DDR3_DM2" LOC = "T1";
NET "DDR3_DM3" LOC = "Y1";
NET "DDR3_DQ0" LOC = "C3";
NET "DDR3_DQ10" LOC = "G3";
NET "DDR3_DQ11" LOC = "H3";
NET "DDR3_DQ12" LOC = "J3";
NET "DDR3_DQ13" LOC = "H2";
NET "DDR3_DQ14" LOC = "H1";
NET "DDR3_DQ15" LOC = "J1";
NET "DDR3_DQ16" LOC = "P1";
NET "DDR3_DQ17" LOC = "P3";
NET "DDR3_DQ18" LOC = "R3";
NET "DDR3_DQ19" LOC = "R1";
NET "DDR3_DQ1" LOC = "B3";
NET "DDR3_DQ20" LOC = "T4";
NET "DDR3_DQ21" LOC = "U4";
NET "DDR3_DQ22" LOC = "U2";
NET "DDR3_DQ23" LOC = "U3";
NET "DDR3_DQ24" LOC = "V1";
NET "DDR3_DQ25" LOC = "Y3";
NET "DDR3_DQ26" LOC = "W1";
NET "DDR3_DQ27" LOC = "Y4";
NET "DDR3_DQ28" LOC = "Y2";
NET "DDR3_DQ29" LOC = "W3";
NET "DDR3_DQ2" LOC = "A2";
NET "DDR3_DQ30" LOC = "V2";
NET "DDR3_DQ31" LOC = "V3";
NET "DDR3_DQ3" LOC = "A4";
NET "DDR3_DQ4" LOC = "D3";
NET "DDR3_DQ5" LOC = "D1";
NET "DDR3_DQ6" LOC = "C1";
NET "DDR3_DQ7" LOC = "E1";
NET "DDR3_DQ8" LOC = "E2";
NET "DDR3_DQ9" LOC = "E3";
NET "DDR3_DQS0_N" LOC = "B2";
NET "DDR3_DQS1_N" LOC = "F2";
NET "DDR3_DQS2_N" LOC = "T2";
NET "DDR3_DQS3_N" LOC = "W4";
NET "DDR3_DQS0_P" LOC = "C2";
NET "DDR3_DQS1_P" LOC = "G2";
NET "DDR3_DQS2_P" LOC = "R2";
NET "DDR3_DQS3_P" LOC = "W5";
NET "DDR3_ODT" LOC = "N5";
NET "DDR3_RAS#" LOC = "P4";
NET "DDR3_WE#" LOC = "M5";
NET "I_SNS_ADC_CS_FPGA" LOC = "V7";
NET "I_SNS_ADC_SDI_FPGA" LOC = "U10";
NET "I_SNS_ADC_SCLK_FPGA" LOC = "T9";
NET "I_SNS_ADC_SDO_FPGA" LOC = "Y7";
NET "ZCR_SNS_ADC_SCLK_FPGA" LOC = "Y8";
NET "ZCR_SNS_ADC_CS_FPGA" LOC = "Y9";
NET "ZCR_SNS_ADC_SDO_FPGA" LOC = "W8";
NET "ZCR_SNS_ADC_SDI_FPGA" LOC = "V8";
NET "ADC_GPIO_2" LOC = "Y13";
NET "ADC_GPIO_1" LOC = "Y12";
NET "POWERON_FPGA" LOC = "V5";
NET "FAN_PG1_FPGA" LOC = "L17";
NET "FAN_HALL1_FPGA" LOC = "L16";
NET "FAN_EN1_FPGA" LOC = "K18";
NET "FAN_CTRL1_FPGA" LOC = "K17";
NET "P_IN_STATUS_FPGA" LOC = "G18";
NET "POD_STATUS_FPGA" LOC = "G17";
NET "ECTCU_INH_FPGA" LOC = "H20";
NET "P_OUT_STATUS_FPGA" LOC = "J20";
NET "CCTCU_INH_FPGA" LOC = "G19";
NET "SHUTDOWN_OUT_FPGA" LOC = "G15";
NET "RESET_OUT_FPGA" LOC = "H15";
NET "RTC2FPGA" LOC = "B20";
NET "SPARE_OUT_FPGA" LOC = "J14";
NET "ESHUTDOWN_OUT_FPGA" LOC = "K14";
NET "HV_ADC_SDI_FPGA" LOC = "L15";
NET "HV_ADC_SCLK_FPGA" LOC = "L14";
NET "HV_ADC_CS_FPGA" LOC = "M15";
NET "HV_ADC_SDO_FPGA" LOC = "M14";
NET "RELAY_1PH_FPGA" LOC = "J16";
NET "RELAY_3PH_FPGA" LOC = "K16";
NET "FAN_PG3_FPGA" LOC = "A20";
NET "FAN_HALL3_FPGA" LOC = "B19";
NET "FAN_EN3_FPGA" LOC = "D18";
NET "FAN_CTRL3_FPGA" LOC = "E17";
NET "FAN_PG2_FPGA" LOC = "D20";
NET "FAN_HALL2_FPGA" LOC = "D19";
NET "FAN_EN2_FPGA" LOC = "E19";
NET "FAN_CTRL2_FPGA" LOC = "E18";
NET "FPGA_DONE" LOC = "R11";
NET "INIT#" LOC = "R10";
NET "TCK_0" LOC = "F9";
NET "TDI_0" LOC = "G6";
NET "TDO_0" LOC = "F6";
NET "TMS_0" LOC = "J6";
NET "ETH_TX_CLK" LOC = "A19";
NET "ETH_TXD0" LOC = "E14";
NET "ETH_TXD1" LOC = "B18";
NET "ETH_TXD2" LOC = "D10";
NET "ETH_TXD3" LOC = "A17";
NET "ETH_TX_CTRL" LOC = "F14";
NET "ETH_RX_CLK" LOC = "B17";
NET "ETH_RXD0" LOC = "D11";
NET "ETH_RXD1" LOC = "A16";
NET "ETH_RXD2" LOC = "F15";
NET "ETH_RXD3" LOC = "A15";
NET "ETH_RX_CTRL" LOC = "D13";
NET "SPI_CLK" LOC = "D14";
NET "SPI_MISO" LOC = "C17";
NET "SPI_MOSI" LOC = "B15";
NET "SPI_CSN" LOC = "D16";
NET "UART_RXD" LOC = "B12";
NET "UART_TXD" LOC = "C12";
NET "SD_WP" LOC = "B13";
NET "PB SD" LOC = "B9";
NET "ETH_MDC" LOC = "C10";
NET "ETH_MDIO" LOC = "C11";
NET "VREF_501" LOC = "E11";
NET "PS_SRST#" LOC = "B10";
NET "RS485_RXD_1" LOC = "R19";
NET "RS485_DE_7" LOC = "W15";
NET "RS485_TXD_7" LOC = "V15";
NET "RS485_TXD_8" LOC = "U15";
NET "RS485_RXD_8" LOC = "U14";
NET "RS485_RXD_9" LOC = "U19";
NET "RS485_DE_8" LOC = "U18";
NET "RS485_DE_9" LOC = "P19";
NET "RS485_TXD_9" LOC = "N18";
NET "EN_PFC_FB" LOC = "U20";
NET "PG_BUCK_FB" LOC = "T20";
NET "EN_PSU_1_FB" LOC = "Y19";
NET "PG_PSU_1_FB" LOC = "Y18";
NET "EN_PSU_2_FB" LOC = "W16";
NET "PG_PSU_2_FB" LOC = "V16";
NET "EN_PSU_5_FB" LOC = "R17";
NET "PG_PSU_5_FB" LOC = "R16";
NET "RS485_DE_1" LOC = "T10";
NET "RS485_TXD_1" LOC = "T11";
NET "EN_PSU_6_FB" LOC = "R18";
NET "PG_PSU_6_FB" LOC = "T17";
NET "EN_PSU_7_FB" LOC = "V18";
NET "PG_PSU_7_FB" LOC = "V17";
NET "EN_PSU_8_FB" LOC = "W19";
NET "PG_PSU_8_FB" LOC = "W18";
NET "EN_PSU_9_FB" LOC = "P18";
NET "PG_PSU_9_FB" LOC = "N17";
NET "EN_PSU_10_FB" LOC = "P16";
NET "PG_PSU_10_FB" LOC = "P15";
NET "RS485_TXD_2" LOC = "U12";
NET "RS485_RXD_2" LOC = "T12";
NET "RS485_RXD_3" LOC = "V13";
NET "RS485_DE_2" LOC = "U13";
NET "RS485_DE_3" LOC = "W13";
NET "RS485_TXD_3" LOC = "V12";
NET "RS485_TXD_4" LOC = "T15";
NET "RS485_RXD_4" LOC = "T14";
NET "RS485_RXD_5" LOC = "R14";
NET "RS485_DE_4" LOC = "P14";
NET "RS485_DE_5" LOC = "Y17";
NET "RS485_TXD_5" LOC = "Y16";
NET "RS485_TXD_6" LOC = "Y14";
NET "RS485_RXD_6" LOC = "W14";
NET "RS485_RXD_7" LOC = "U17";
NET "RS485_DE_6" LOC = "T16";
NET "SD_D0" LOC = "E9";
NET "SD_CMD" LOC = "C6";
NET "SD_CLK" LOC = "D9";
NET "SD_D1" LOC = "E8";
NET "SD_D2" LOC = "C5";
NET "SD_D3" LOC = "C8";
NET "QSPI_1_CS#" LOC = "A7";
NET "QSPI_DQ0" LOC = "B8";
NET "QSPI_DQ1" LOC = "D6";
NET "QSPI_DQ2" LOC = "B7";
NET "QSPI_DQ3" LOC = "A6";
NET "QSPI_1_CLK" LOC = "A5";
NET "PG_MODULE" LOC = "C7";
